.fix{
    width:100%;
    position:fixed;
    background:white;
    height:80px;
    z-index:1;
    top:0;
}

.right{
    position:absolute;
    top:25px;
    right:0;
}

.img{
    width:100px;
    margin:20px;
}

.a{
    color:black;
    text-decoration:none;
}

.right a{
    margin:20px
}