.new{
    list-style: none;
    position:relative;
    width:600px;
}

.img{
    width: 200px;
    border-radius: 10px;
}

.title{
    position:relative;
    top:10px;
    font-size: 20px;
    text-decoration:none;
    color:black;
}

.container{
    position:absolute;
    top:0px;
    left:220px;
    height:140px;
    width:380px;
}

.font{
    position:absolute;
    bottom:10px;;
    color:gray;
}