.search{
    margin:0 auto;
    width:600px;
    height:50px;
    border-radius:15px 0 0 15px;
}

.button_2{
    width:80px;
    position:relative;
    height:50px;
    top:10px;
    left:-1px;
    background: red;
    border-radius:0 15px 15px 0;
}